<html>

    <head>
    <link rel="stylesheet" href="../static/css/app.css">
    <style type="text/css">

      html,body { height: 100%; margin: 0px; padding: 0px; }
      #full { background-color: #F3EBF6; height: 100%;text-align: center; }

    </style>
    </head>

    <body>
    
            <div class="navbar">
                <a href="http://onemodel.azurewebsites.net/" class="navbar-brand">Home</a>
                <a href="http://onemodel.azurewebsites.net/" class="navbar-item">About</a>
                <a href="http://onemodel.azurewebsites.net/" class="navbar-item">Contact</a>
            </div>

            <div id ="full">
                <a href="/form">
                <img src="static/images/spinner.svg" class="App-logo" alt="logo" width="100" height="100">
                </a>
                
             
            </div>

            <Footer>
            
                <p>iSmileTechnologies © 2020</p>
            </Footer>
    
    </body>

</html>